.content__image {
  background-image: url('../images/image-header-mobile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 0.5rem 0.5rem 0 0;
  height: 15rem;

  background-color: $violet;
  filter: brightness(1.1) saturate(1.6) contrast(0.7);
  background-blend-mode: multiply;

  @media #{$media-desktop} {
    background-image: url('../images/image-header-desktop.jpg');
    border-radius: 0 0.5rem 0.5rem 0;

    height: auto;
  }
}
